body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#button2{
    margin-top: 20%;
    display: flex;
    visibility: hidden
}

#button3{
    margin-top: 5%;
    display: flex;
    margin-left: 75%;
    visibility: hidden;
}

#yesButton, #noButton {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

